In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv('superstore_data.csv')
data.head()

,order_id,gmv,profit,quantity,category,sub_category,cost,total_gmv,total_cost,total_profit,order_date,customer_name,city,country,region,segment,ship_date,ship_mode,lon,lat
0,AZ-2011-252578,444,89,4,Technology,Phones,355,1776,355,356,4/21/2011,Sebastian McClelland,Elx,Spain,South,Consumer,4/26/2011,Economy,-0.712561,38.269933
1,AZ-2011-252578,39,10,6,Office Supplies,Binders,29,234,29,60,4/21/2011,Sebastian McClelland,Elx,Spain,South,Consumer,4/26/2011,Economy,-0.712561,38.269933
2,AZ-2014-9539724,485,199,4,Office Supplies,Storage,286,1940,286,796,8/29/2014,Alice Currie,Elx,Spain,South,Consumer,9/3/2014,Economy,-0.712561,38.269933
3,AZ-2014-1861968,232,85,3,Office Supplies,Appliances,147,696,147,255,5/7/2014,Mark Westfall,Pau,France,Central,Consumer,5/11/2014,Economy,-0.370797,43.295100
4,AZ-2013-503783,299,116,4,Office Supplies,Appliances,183,1196,183,464,1/1/2013,Freddie Kaur,Pau,France,Central,Consumer,1/1/2013,Immediate,-0.370797,43.295100

In [5]:
data[data['country'] == 'Spain']['total_profit'].sum()

np.int64(305658)